.main-container {
  display: flex;
  gap: 2em;
  justify-content: center;
  flex-direction: column;
  padding: 10px;
  max-width: 100%;
  overflow: auto;
}

.pokemon-list {
  margin-top: 1rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 1rem;
  grid-auto-rows: 1fr;
  grid-auto-columns: 1fr;
  width: 100%;
}

.pokemon-item {
  display: flex;
  border: 2px #b5b2b2 solid;
  padding: 10px;
  box-shadow: 5px 5px rgb(100, 98, 98);
  justify-content: space-around;
}

.pkm-content {
  max-width: 300px;
}

.pkm-icon-wrapper {
  margin: auto 0;
}

.pkm-icon {
  width: 100%;
}

a {
  text-decoration: none;
}

.add-button {
  position: fixed;
  left: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 3em;
  background-color: rgba(190, 201, 201, 0.801);
  color: black;
  border-radius: 50%;
  border: 3px grey solid;
  width: 1em;
  height: 1em;
  z-index: 1;
}

.pokemon-item:hover,
.pokemon-item:active,
.pokemon-item:focus {
  transform: scale(1.05);
}

.add-button:hover {
  transform: scale(1.05);
}
