.main-container {
  gap: 2em;
  flex-direction: column;
  text-align: center;
  align-items: center;
  flex: 0 0 auto;
  padding: 10px;
  background-color: black;
  max-width: 1600px;
  width: 100%;
}

.pokemon-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1rem;
  background-color: red;
  grid-auto-rows: 1fr;
  grid-auto-columns: 1fr;

  max-width: 1600px;
}

.pokemon-item {
  max-width: 400px;
  background-color: aqua;
  display: flex;
  flex-direction: row;
  gap: 0.8em;
  text-align: center;
  border: 2px #b5b2b2 solid;
  padding: 10px;
  box-shadow: 5px 5px rgb(100, 98, 98);
}

.pokemon-description {
  display: flex;
  flex-direction: column;
  width: 60%;
  align-items: center;
  text-align: center;
}

.pkm-icon-wrapper {
  margin: auto;
}

.pkm-icon {
  width: 100%;
}

a {
  text-decoration: none;
}

.add-button {
  position: fixed;
  left: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 3em;
  background-color: rgba(190, 201, 201, 0.801);
  color: black;
  border-radius: 50%;
  border: 3px grey solid;
  width: 1em;
  height: 1em;
}

.pokemon-item:hover,
.pokemon-item:active {
  scale: 1.05;
}

.add-button:hover {
  scale: 1.1;
}
