<div class="container">
  <h2>Log in :</h2>
  <p>{{ message }}</p>

  <form (ngSubmit)="login()" #loginForm="ngForm">
    <div class="form-item">
      <label for="username"> username :</label>
      <input
        type="text"
        id="name"
        name="name"
        required
        [(ngModel)]="username"
      />
    </div>

    <div class="form-item">
      <label for="password"> mot de passe:</label>
      <input
        type="password"
        id="password"
        name="password"
        required
        [(ngModel)]="password"
      />
    </div>

    <div class="button-bar">
      <button type="submit" [disabled]="!username || !password">login</button>

      <button [disabled]="!auth.isLoggedIn">logout</button>
    </div>
  </form>
</div>
