/* You can add global styles to this file, and also import other style files */
.core-container {
  gap: 1em;
  flex-direction: column;
  justify-content: flex-start;
  text-align: center;
  align-items: center;
  padding: 10px;
  max-width: 1650px;
  background-color: chartreuse;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1.5em;
}

.column {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.pokemon-types {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0.8em;
}

.pokemon-type-item {
  width: 3em;
  background-color: aliceblue;
  padding: 0.5em;
  border-radius: 20px;
  text-align: center;
}
